$border-color: rgba(221, 227, 237, 1);
$primary-color: #1976d2;
$secondary-color: #89bdf1;
$danger-color: red;
$warning-color: orange;
$light-color: white;
$box-shadow-color: rgba(18, 25, 84, 0.07);
$font-family: Poppins;
$transition: 100ms;

.datepicker {
  &__container {
    font-family: $font-family;
    width: fit-content;
  }

  &__input-group {
    font-family: $font-family;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  &__section {
    width: 100%;
    position: relative;

    &--calendar {
      flex: 5;
    }

    &--days {
      flex: 3;
    }
  }

  &__label {
    position: absolute;
    top: 18px;
    left: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: $transition;

    &--active {
      color: $primary-color;
    }

    &--with-data {
      top: 8px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
    }
  }

  /* &__validation {
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    height: 56px;
    width: 100%;
    max-width: 400px;
    z-index: 1;
    border-radius: 4px;
    display: flex;

    &__days {
      flex: 3;
    }

    &__calendar {
      flex: 5;
      position: relative;
    }

    &__divider {
      position: absolute;
      left: -3px;
      top: 0;
      height: 54px;
      width: 3px;
      z-index: 2;

      &--error {
        background-color: $danger-color;
      }

      &--warning {
        background-color: $warning-color;
      }
    }

    &--error {
      border: 2px solid $danger-color;
    }

    &--warning {
      border: 2px solid $warning-color;
    }
  } */

  &__mask {
    position: absolute;
    left: 18px;
    top: 24px;
    user-select: none;
    pointer-events: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: none;

    &--with-data {
      display: flex;
    }

    &__value {
      opacity: 0;
      user-select: none;
    }

    &__character {
      margin-left: 4px;
    }
  }

  &__input {
    box-sizing: border-box;
    transition: $transition;
    border: 1px solid $border-color;
    padding: 16px;
    height: 56px;
    outline: none;
    width: 100%;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;

    &--days {
      border-radius: 4px 0 0 4px;
      border-right: none;
      transition: $transition;

      &:not(.datepicker__input--error):not(.datepicker__input--warning):focus {
        border: 2px solid $primary-color;
        padding: 16px 16px 0 16px;

        &~.datepicker__label {
          top: 8px;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: $primary-color;
        }
      }
    }

    &--active {
      border: 2px solid $primary-color;
    }

    &--with-data {
      padding: 16px 16px 0 16px;
    }

    &--error {
      border-top: 2px solid $danger-color;
      border-right: 2px solid $danger-color;
      border-bottom: 2px solid $danger-color;
      border-left: none;

      &-left{
        border-left: 2px solid $danger-color;
      }
    }

    &--warning {
      border-top: 2px solid $warning-color;
      border-right: 2px solid $warning-color;
      border-bottom: 2px solid $warning-color;
      border-left: none;

      &-left{
        border-left: 2px solid $warning-color;
      }
    }

    &--calendar {
      border-radius: 0 4px 4px 0;
      user-select: none;
      cursor: pointer;
    }
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 18px;
    cursor: pointer;
    flex: 1;
    width: auto;
    height: 20px;
    transition: $transition;

    &--active {
      fill: $primary-color;
    }

    &--error, &--warning {
      position: absolute;
      right: 16px;
      top: 20px;
    }
  }

  &__calendar {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 2;
    width: 350px;
    border-radius: 8px;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 12px $box-shadow-color;
    background-color: $light-color;
    flex-direction: column;
    display: none;
    cursor: default;

    &--show {
      display: flex;
    }
  }

  &__units {
    display: flex;
    gap: 60px;
    position: relative;
  }

  &__unit {
    flex: 1;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__month {
    width: 100%;
    padding: 20px 20px 10px 35px;
    user-select: none;
    position: absolute;
    top: 45px;
    left: 0;
  }

  &__arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events: none;
    transition: $transition;
    user-select: none;

    &-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      cursor: pointer;

      &--disabled {
        pointer-events: none;

        &>* {
          pointer-events: none;
          border: solid $border-color;
          border-width: 0 3px 3px 0;
        }
      }
    }

    &--left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    &--right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &__current {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 4;
    user-select: none;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
    padding: 10px 20px 10px 20px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 55px 20px 20px 20px;

    &--fit {
      padding: 20px;
    }
  }

  &__name-day {
    text-align: center;
    width: 100%;
    font-size: 14px;
    user-select: none;
  }

  @for $i from 1 through 7 {
    &__first-day-#{$i} {
      grid-column-start: $i;
    }
  }

  &__day {
    width: 100%;
    display: flex;
    height: 35px;
    justify-content: center;
    font-size: 13px;
    user-select: none;
  }

  &__square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: 50ms;
    border-radius: 4px;
    font-size: 14px;
    font-family: $font-family;
    user-select: none;

    &:hover,
    &--active {
      background-color: $primary-color;
      color: $light-color;
    }

    &--current {
      border: 1px solid $border-color;
    }

    &--disabled {
      pointer-events: none;
      color: $border-color;
    }
  }

  &__footer {
    border-top: 1px solid $border-color;
    padding: 24px;
    user-select: none;
  }
}
