<div class="datepicker__container">
  <div [ngClass]="[
      showCalendar ? 'datepicker__input-group--active' : '',
      'datepicker__input-group',
      validation ? 'datepicker__input-group--{{validation.type}}': '',
    ]">

    <!-- Days range section -->
    <div class="datepicker__section datepicker__section--days">
      <input type="text" id="datepicker__input__days" [ngClass]="[
          'datepicker__input',
          daysControl.value ? 'datepicker__input--with-data' : '',
          'datepicker__input--days',
          validation ? 'datepicker__input--' + validation.type + ' datepicker__input--' + validation.type + '-left' : '',
          ]" [formControl]="daysControl" [maxlength]="3" [readonly]="false">
      <label for="datepicker__input__days" [ngClass]="[
          'datepicker__label',
          daysControl.value ? 'datepicker__label--with-data' : '',
        ]">Plazo</label>
      <div class="datepicker__mask" [ngClass]="[
          'datepicker__mask',
          daysControl.value ? 'datepicker__mask--with-data' : '',
        ]">
        <span class="datepicker__mask__value">{{daysControl.value}}</span>
        <span class="datepicker__mask__character">días</span>
      </div>

      <svg *ngIf="validation && validation.type === 'warning'" class="datepicker__icon--{{validation.type}}" width="23"
        height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M22.5 19L11.5 0L0.5 19H22.5ZM10.5 16V14H12.5V16H10.5ZM10.5 12H12.5V8H10.5V12Z" fill="#EE9800" />
      </svg>

      <svg *ngIf="validation && validation.type === 'error'" class="datepicker__icon--{{validation.type}}" width="21"
        height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10.5 0C4.98 0 0.5 4.48 0.5 10C0.5 15.52 4.98 20 10.5 20C16.02 20 20.5 15.52 20.5 10C20.5 4.48 16.02 0 10.5 0ZM9.5 15V13H11.5V15H9.5ZM9.5 5V11H11.5V5H9.5Z"
          fill="#D9534F" />
      </svg>

    </div>

    <!-- Calendar section -->
    <div id="datepicker__calendar" class="datepicker__section datepicker__section--calendar">
      <label for="datepicker__input__calendar" [ngClass]="[
          'datepicker__label',
          showCalendar ? 'datepicker__label--active' : '',
          dateControl.value || showCalendar ? 'datepicker__label--with-data' : '',
          validation ? 'datepicker__label--' + validation.type : '',
        ]">Vencimiento</label>
      <input type="text" id="datepicker__input__calendar" [ngClass]="[
          'datepicker__input',
          showCalendar ? 'datepicker__input--active' : '',
          dateControl.value ? 'datepicker__input--with-data' : '',
          'datepicker__input--calendar',
          validation ? 'datepicker__input--' + validation.type : '',
        ]" [value]="calendarValue" (click)="displayCalendar()" readonly>


      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" [ngClass]="[
        showCalendar ? 'datepicker__icon--active' : '',
        'datepicker__icon',
        validation ? 'datepicker__icon--' + validation.type : '',
      ]" (click)="displayCalendar()">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M19.5 3H20.5C21.6 3 22.5 3.9 22.5 5V21C22.5 22.1 21.6 23 20.5 23H4.5C3.4 23 2.5 22.1 2.5 21V5C2.5 3.9 3.4 3 4.5 3H5.5V1H7.5V3H17.5V1H19.5V3ZM4.5 21H20.5V8H4.5V21Z"
          fill="#7F90AF" />
      </svg>

      <div [ngClass]="[
      showCalendar ? 'datepicker__calendar--show' : '',
      'datepicker__calendar'
    ]">
        <div class="datepicker__controls">
          <div [ngClass]="[
            'datepicker__arrow-container',
            isDisableBack ? 'datepicker__arrow-container--disabled' : ''
          ]" (click)="onClickArrow(false)">
            <div class="datepicker__arrow datepicker__arrow--left"></div>
          </div>

          <div class="datepicker__current">
            {{ selectedMonth }} {{ selectedYear }}
          </div>

          <div [ngClass]="[
              'datepicker__arrow-container',
              isDisableFront ? 'datepicker__arrow-container--disabled' : ''
            ]" (click)="onClickArrow(true)">
            <div class="datepicker__arrow datepicker__arrow--right"></div>
          </div>
        </div>

        <div class="datepicker__units">
          <div class="datepicker__unit">
            <div class="datepicker__header">
              <span class="datepicker__name-day" *ngFor="let day of weekdays">
                {{ day.initial }}
              </span>
            </div>

            <div class="datepicker__month">
              {{ selectedMonth | uppercase | slice: 0:3 }}
            </div>

            <div [ngClass]="[
                'datepicker__days',
                isFitting ? 'datepicker__days--fit' : '',
              ]">
              <div [ngClass]="[
              i === 0 ? 'datepicker__first-day-' + item.weekday : '',
              'datepicker__day'
            ]" *ngFor="
              let item of createCurrentMonth(selectedMonth, selectedYear);
              index as i
            ">
                <div (click)="setDate(item.date)" [ngClass]="['datepicker__square', handleDayState(item)]">
                  {{ item.number }}
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class=" datepicker__footer">
          <ng-content></ng-content>
        </div>
      </div>

    </div>

  </div>
  <div *ngIf="validation" [ngClass]="[
  'datepicker__validation',
  'datepicker__validation--' + validation.type
  ]">
    {{validation.message}}
  </div>
</div>
